{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}
<div class="container">
		<br>
		<p class="h5 card-title">Nuevo articulo</p>
		<hr>
		{% for message in app.flashes('sussecc') %}
			<div class="alert alert-success" role="alert">
			  {{ message }}
			</div>
		{% endfor %}
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			<div class="form-row">
					<div class="col">
						{{ form_label(form.nombre) }}
						{{ form_widget(form.nombre) }}
					</div>
					<div class="col">
						{{ form_label(form.codigoSenasa, 'Codigo CAPA') }}
						{{ form_widget(form.codigoSenasa) }}
					</div>
					<div class="col">
						{{ form_label(form.nombreSenasa, 'Nombre SENASA') }}
						{{ form_widget(form.nombreSenasa) }}
					</div>
			</div>
				{{ form_widget(form.guardar) }}
				{{ form_end(form) }}
</div>
{% endblock fos_user_content %}
