{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}
	<br>
	<p class="h4">Editar proceso</p>

	

	    <p class="h4 mb-4 text-center">{{ proccess.nombre }}</p>
		<div class="row">
		  <div class="col">
				<div class="card">
				  <div class="card-header">
				    Articulos asignados
				  </div>
				  <div class="card-body">
					<div class="list-group">
				  	{% for art in proccess.articulos %}
					  <a href="#!" data-id="{{art.id}}" class="view-art list-group-item list-group-item-action">{{ art }}</a>
					{% endfor %}
					</div>
				    <a href="#" class="btn btn-primary">Agregar nuevo</a>
				  </div>
				</div>
			</div>
		  <div class="col">
				<div class="card">
				  <div class="card-header">
				     Reporta articulos a...
				  </div>
				  <div class="card-body">
				  <div class="list-group">
					  	{% for send in proccess.procesosDestino %}
						  <a href="#!" class="list-group-item list-group-item-action">{{ send.nombre }}</a>
						{% endfor %}					
				  </div>
				  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSubscriptionForm">Agregar proceso</button>
				  </div>
				</div>
		  </div>
		</div>
		<br>
		<div class="row">
		  <div class="col-6">
				<div class="card">
				  <div class="card-header">
				    Configurar manejo stock
				  </div>
				  <div class="card-body">
						<table class="table table-striped table-bordered table-hover table-sm ">
								<thead>
									<tr>
										<th>Articulo</th>
										<th>Atributo</th>
									</tr>
								</thead>
								<tbody>
									{% for proceso in proccess.manejosStock %}
										<tr>
											<td>{{ proceso.articulo }}</td>
											<td>{{ proceso.atributo }}</td>
										</tr>
									{% endfor %}
								</tbody>
						</table>
				  	{{ form_start(stock) }}
				  		<div class="form-row align-items-center">
				  			<div class="col">
				  				{{ form_widget(stock.articulo, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  			<div class="col">
				  				{{ form_widget(stock.atributo, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  			<div class="col">
				  				{{ form_widget(stock.asignar, {'attr' : {'class' : 'btn btn-sm btn-success btn-block'}}) }}
				  			</div>
				  		</div>
				  	
				  	{{ form_end(stock) }}
				  </div>
				</div>
			</div>
		</div>


<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Agregar proceso destino</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
			{{ form_start(form, {'attr': {'class': 'sender'}}) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Detalle Articulo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 modal-body-article">

      </div>
    </div>
  </div>
</div>
{% endblock fos_user_content %}

{% block javascripts %}

<script type="text/javascript">
	$('.view-art').click(function(){
									var url = "{{ path('bd_view_art_proc_fan', {'articulo' : 'id_article'}) }}"; 
									url = url.replace('id_article', $(this).data('id'));
									$('.modal-body-article').load(url);
									$('#viewArticle').modal('show');
	});

	$('.sender').submit(function (event){
										 event.preventDefault();
										 var form = $(this);
										 $.post(form.attr('action'),
										 		form.serialize(),
										 		function(data){
										 						if (data.status)
										 						{

										 						}
										 						else
										 						{

										 						}


										 		});
										
	});
</script>

{% endblock %}
