{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}
	<p class="h5">Definir atributos por concepto</p>
	{{ form_start(form) }}
				

	{{ form_label(form.concepto) }}
	{{ form_widget(form.concepto) }}
	{{ form_label(form.articulo) }}
	{{ form_widget(form.articulo) }}
	{{ form_label(form.atributos) }}
	{{ form_widget(form.atributos) }}
<small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Seleccione los atributos a incluir manteniendo la tecla CTRL presionada
    </small>
	{{ form_end(form) }}











{% endblock fos_user_content %}
