{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<style type="text/css">
        thead tr th { 
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #ffffff;
        }
    
        .table-responsive { 
            height:200px;
            overflow:scroll;
        }


</style>


<br>
<hr>
<p class="h5 card-title">{{ proceso }} - Fecha: {{ faena }}</p>
{% endblock fos_user_content %}
{% block out_container %}
<div class="card">
	<div class="card-header">
		<div class="h5">
			Concepto : <span id="">{{ concepto}}</span>
		</div>
  	</div>
	<div class="card-body">
		<a href="{{ path('bd_adm_proc_fan_day', {proc : proceso.id, fd : faena.id}) }}" class="btn btn-success"><< Volver</a>
		<table id="myTable" class="table table-bordered table-sm table-fit table-hover table-striped" cellspacing="0"
  width="100%">
			<thead>
				<tr>
					<th rowspan="3">

					</th>
					{% for c in cates %}
						<th class="text-center" colspan="{{ ccat[c.id] }}">
							{{ c }}
						</th>
					{% endfor %}
				</tr>
				<tr>

					{% for kc, sub in  csub %}
						{% for ks, vs in sub %}
							<th class="text-center" colspan="{{ vs }}">
								{{ subcates[ks] }}
							</th>
						{% endfor %}
					{% endfor %}
				</tr>
				<tr>
					{% for key, art in articulos %}
						{% for ks, sub in art %} 
							{% for k, v in sub %}
								<th class="col-lg-12">
									<span class=" mr-3 ml-3">{{ v[0].nombreResumido }}</span>
								</th>
							{% endfor %}
						{% endfor %}
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				
				{% for e in entidades %}
					<tr>
						<td>{{ e }}</td>
						{% for key, art in articulos %}
							{% for ks, sub in art %} 
								{% for k, v in sub %}
									<td>
											{% set idV = 0 %}
											{% set valV = '' %}
											{% if salidas[e.id][v[0].id] is defined %}
												{% set idV = salidas[e.id][v[0].id].id %}
												{% set valV = salidas[e.id][v[0].id].data %}
												
											{% endif %}
											<div class="row">
												<div class="col-12">
													<input type="text" 
														   data-idv="{{ idV }}" 
														   data-proc="{{ proceso.id }}" 
														   data-art="{{ v[0].id }}"  
														   data-ent="{{ e.id }}"
														   class="form-control form-control-sm align-center update" 
														   value="{{ valV }}"/>
												</div>
												<div class="col">
												</div>
											</div>
									</td>
								{% endfor %}
							{% endfor %}
						{% endfor %}

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>



{% endblock out_container %}

{% block javascripts %}

<script type="text/javascript">
$('#myTable').DataTable({
"scrollX": true,
"ordering": false,
"paging": false,
"searching": false
});


	$('.update').keypress(function(event) {
									    var keycode = (event.keyCode ? event.keyCode : event.which);
									    var input = $(this);
									    if(keycode == '13')
									    {
											var route = "{{ path ('bd_adm_proc_registrar_venta', {proc: '_PROC', art : '_ART', val : '_VAL', fd : faena.id, cv : concepto.id, ent : '_ENT'})}}";
											var btn = $(this);
											var ruta = route.replace('_PROC', btn.data('proc')).replace('_ART', btn.data('art')).replace('_VAL', btn.data('idv')).replace('_ENT', btn.data('ent'));
											input.removeClass('green');
											input.removeClass('red');
											$.post(ruta,
												   {data : btn.val()},
												  function(response)
												  {
												  	if (response.status)
												  	{
												  		input.addClass('green');
														input.trigger("keypress", [9]);
														input.data('idv', response.idm);
												  	}
												  	else
												  	{

												  		input.addClass('red');
												  		alert(response.message);
												  	}
												  }
											);
										}
											
	});

	$('.view-art').click(function(){
									var url = "{{ path('bd_view_art_proc_fan', {'articulo' : 'id_article'}) }}"; 
									url = url.replace('id_article', $(this).data('id'));
									$('.modal-body-article').load(url);
									$('#viewArticle').modal('show');
	});

	$('.sender').submit(function (event){
										 event.preventDefault();
										 var form = $(this);
										 $.post(form.attr('action'),
										 		form.serialize(),
										 		function(data){
										 						if (data.status)
										 						{

										 						}
										 						else
										 						{

										 						}


										 		});
										
	});

	{% if tipo is defined %}
		{% if tipo == 'M' %}
		$(".type option[value='{{ tipo }}']").attr('selected','selected');

		{% endif %}
	{% endif %}
</script>

{% endblock %}
